@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<link href="~/css/general/loadingindicatorstyle.css" rel="stylesheet" />

<!-- Loading indicator element -->
<div class="loading-overlay" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="~/scripts/general/loadingIndicatorScript.js"></script>