@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://api.dicebear.com/6.x/initials/svg?seed=CB_ColdBanana" alt="Logo" width="30" height="30" class="d-inline-block align-top">
            Umbraco Web App - Cold Banana
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button type="button" id="navBarContactBtn" class="btn btn-primary">Contact</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="~/scripts/general/navBarScript.js"></script>